
@using Models;

@{
    ViewBag.Title = "About";
}

@{
    this.Layout = null;
}


<div style="width:1200px;padding:10%">
    <div style="width:50%;float:left;">
        <table id="tb">
            <tr>

                <th>日期</th>
                <th>统计</th>
            </tr>
            @foreach (var m in ViewBag.Model)
            {
                <tr>

                    <td>
                        <input type="text" name="caeated_at" value="@m.orderno" />
                    </td>
                    <td>
                        <input type="text" name="sum" value="@m.name" />
                    </td>
                </tr>

            }

        </table>
    </div>
    <div id="main" style="width: 50%;height:400px;float:right;"></div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/echarts.common.min.js"></script>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    $.ajax({

        type: 'post',

        url: '/Home/About1',

        //  dataType: 'json',

        success: function (e) {

            var option = {
                title: {
                    text: '订单销量统计表'
                },
                tooltip: {},
                legend: {
                    data: ['日期']
                },
                xAxis: {
                    data: e.日期
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'bar',
                    data: e.统计
                }]
            };

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }



        //  success: function (data) {
        //    var item;
        //    $.each(data, function (i, result) {
        //        item = "<tr><td>" + result['orderno'] + "</td><td>" + result['name'] + "</td></tr>";
        //        $('.table').append(item);
        //    });
        //},



    });





</script>