

<h3 >

    @ViewData["Message"] 
</h3>

<form action="/Home/Index" method="post"> <table id="tb">
     <tr>
     <th>编号</th><th>商品名称</th><th>电话</th><th>商品价格</th><th>是否支付</th><th>备注</th><th>日期</th> </tr> 
    @for (int i = 1; i < 3; i++)
{
    <tr> 
        <td>
            <input type="text" name="orderno" value="SN2018111121434@(i)" />
        </td>
    <td>
    <input type="text" name="name" value="王 @i 狗" />
    </td>
        <td>
            <input type="text" name="tel" value="1583434565@(i+3)" />
        </td> 
    <td>
    <input type="text" name="total" value="2@(i+3)" />
    </td> 
    <td>
    <input type="text" name="is_pay" value="1" />
    </td>
        <td>
            <input type="text" name="remark" value="尽快发货" />
        </td> 
        <td>
            <input type="text" name="caeated_at" value="1@(i+3)" />
        </td> 
    </tr> 

 } 

    </table>
     <br /> 
    <input type="submit" id="" value="提交" /> </form>
