
@{
    this.Layout = null;
}
    <!DOCTYPE html>
    <html lang="en" class="no-js">
    <head>
        <meta charset="utf-8" />
        <title>注册页面</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- CSS -->

        <link rel="stylesheet" href="~/Content/supersized.css" />
        <link rel="stylesheet" href="~/Content/style.css" />

        <link rel="stylesheet" href="https://captcha.luosimao.com/static/lib/page.css">
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <style>
            .l-captcha {
                margin-top: 25px;
                border-radius: 6px;
            }
        </style>
    </head>

    <body>

        <div class="page-container">
            <h1 style="color:#fff">用户注册</h1>
            <form method="post" action="" id="myform">
                <input type="text" name="username" id="username" class="username" placeholder="请输入手机号" />
                <input type="password" name="password" id="password" class="password" placeholder="请输入密码" />
                <input type="password" name="password2" id="password2" class="password" placeholder="请再次输入密码" />
                <div class="l-captcha" data-site-key="a58e3b9d85a319247bd2661b0301a564" data-callback="getResponse"></div>
                <input type="button" style="width:302px;display:none" id="verifi_btn" value="点击获取短信验证码" />
                <input type="text" name="verifi" id="verifi" placeholder="请输入短信验证码" />

                <button type="button" class="btn-disabled" onclick="submitform()">立即注册</button>

                <div class="error"><span>+</span></div>
            </form>

        </div>

        <!-- Javascript -->
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/supersized.3.2.7.min.js"></script>
        <script src="~/Scripts/supersized-init.js"></script>
        <script src="~/Scripts/scripts.js"></script>
        <script src="~/Content/layui/layui.js"></script>

        <script src="https://captcha.luosimao.com/static/lib/jquery.min.js"></script>
        <script src="https://captcha.luosimao.com/static/lib/page.js"></script>
        <script src="//captcha.luosimao.com/static/dist/api.js"></script>

        <script type="text/javascript">
            layui.use('layer', function () {
                var layer = layui.layer;
            });

            function getResponse() {
                $(".l-captcha").hide(500)
                $("#verifi_btn").show(1000);
                $('#verifi_btn').click(function () {

                    var username = $("#username").val()
                    if (username == "") {
                        layer.msg('请输入手机号', { icon: 5 });
                        $("#username").focus();
                        return false;
                    }



                    $.post("/Home/yanzhengma", { username: username }, function (obj) {
                        //alert(username+'手机用户的验证码为'+ obj.msg);
                        if (obj.status == 1) {
                            layer.msg(obj.msg, { icon: 5 })
                        }
                        else {
                            var daojishi = $('#verifi_btn');
                            time(daojishi);
                            layer.msg(username + '手机用户的验证码为' + obj.msg, { icon: 6 });
                        }
                        //console.log(obj);

                    });

                });

            }
            var wait = 60;
            function time(o) {
                if (wait == 0) {
                    $(o).attr("disabled", false);
                    $(o).val("获取验证码");
                    wait = 60;
                }

                else {
                    $(o).attr("disabled", true);
                    o.val(wait + "秒后重新发送");
                    wait--;
                    setTimeout(function () { time(o); }, 1000);
                }
            }


            function submitform() {

                //  alert(1);
                var json = $("#myform").serialize();
                var username = $("#username").val()
                if (username == "") {
                    layer.msg('请输入手机号', { icon: 5 });
                    $("#username").focus();
                    return false;
                }

                if (username.length != 11) {
                    layer.msg('请输入有效的手机号码！', { icon: 5 });
                    $("#username").focus();
                    return false;
                }

                var myreg = /^0?1[3|4|5|8][0-9]\d{8}$/;
                if (!myreg.test(username)) {
                    layer.msg('请输入有效的手机号码！', { icon: 5 });
                    $("#username").focus();
                    return false;
                }
                if ($("#password").val() == "") {
                    layer.msg('请输入密码！', { icon: 5 });

                    $("#password").focus();
                    return false;
                }
                if ($("#password2").val() == "") {
                    layer.msg('请再次输入密码！', { icon: 5 });

                    $("#password2").focus();
                    return false;
                }
                if ($("#password").val() != $("#password2").val()) {
                    layer.msg('两次密码输入不一致！', { icon: 5 });

                    $("#password").focus();
                    return false;
                }
                if ($("#verifi").val() == "") {
                    layer.msg('请输入验证码！', { icon: 5 });

                    $("#verifi").focus();
                    return false;
                }

                $.post("/Home/Registers", json, function (obj) {

                    if (obj.status == 1) {
                        layer.msg(obj.message, { icon: 6 })
                        setTimeout(localAdmin, 5000);
                    } else {
                        layer.msg(obj.message, { icon: 5 });

                    }

                }, "json");

            }
            function localAdmin() {
                window.location = "/Home/Login";
            }

        </script>
    </body>

</html>


