
<!Doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>老鼠猪统计图，订单按月统计</title>
    <link rel="stylesheet" href="" type="text/css" />
    <link rel="stylesheet" href="" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/echarts.common.min.js"></script>
</head>
<body>

    <div id="main" style="width: 1000px;height:400px;"></div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var url="/Home/About";
        $.get(url, function (e) {
        var option = {
            title: {
                text: '订单销量统计表'
            },
            tooltip: {},
            legend: {
                data: ['日期']
            },
            xAxis: {
                data: e.日期
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: e.统计
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        })
    </script>
</body>
</html>
